.breadcrumbs {
  max-width: 1200px;
  margin-top: 100px;
  text-align: center;
  padding: 8px 24px;
  color: var(--dark-grey-color);
  font-size: 0.97rem;
}

.breadcrumbs a {
  color: var(--white-color);
  text-decoration: none;
}
.product-section {
  display: flex;
  gap: 48px;
  max-width: 1200px;
  margin: 0 auto 40px;
  padding: 24px;
  background: var(--main-color);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}
.product-images {
  flex: 1.1;
  padding-right: 16px;
}
.product-images img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 8px;
}
.image-thumbs {
  display: flex;
  gap: 8px;
}
.image-thumbs img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border: 2px solid #eee;
  border-radius: 8px;
  cursor: pointer;
}
.product-info {
  flex: 1.2;
}
.product-info h1 {
  margin-bottom: 8px;
  font-size: 2.2rem;
  letter-spacing: 1px;
}
.rating {
  margin-bottom: 7px;
  font-size: 1.3rem;
  color: var(--dark-grey-color);
  display: flex;
  align-items: center;
  gap: 6px;
}
.rating .rating-value {
  color: var(--dark-grey-color);
  font-size: 1rem;
  margin-left: 10px;
}
.half {
  color: var(--light-grey-color);
  opacity: 0.5;
}
.product-price {
  font-size: 1.5rem;
  margin-bottom: 18px;
}
.old-price {
  color: var(--dark-grey-color);
  text-decoration: line-through;
  margin-right: 8px;
}
.sale-price {
  color: var(--white-color);
  font-weight: bold;
}

#add-to-cart-form {
  margin-bottom: 24px;
}
#add-to-cart-form label {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
}
#add-to-cart-form select,
#add-to-cart-form input[type="number"] {
  padding: 6px 12px;
  margin-bottom: 12px;
  margin-right: 8px;
  border: 1px solid #bbb;
  border-radius: 6px;
}
.product-buttons {
  display: flex;
  flex-direction: column; /* يخلي العناصر رأسية */
  gap: 10px; /* مسافة بين الزرين */
  margin-top: 15px;
}

.add-cart-btn,
.buy-now-btn {
  padding: 10px 20px;
  width: 100%;
  border: none;
  background: #afb0b1;
  color: #fff;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: ease 0.6s;
}
.buy-now-btn {
  background: #afb0b1;
}
.add-cart-btn:hover {
  background: #767677;
}
.buy-now-btn:hover {
  background: #767677;
}
.product-details h2 {
  margin: 18px 0 7px 0;
  font-size: 1.15rem;
  color: #ffff;
}
.product-details p {
  color: #ffff;
  font-size: 1rem;
}

@media (max-width: 900px) {
  .product-section {
    flex-direction: column;
    gap: 0;
    padding: 12px;
  }
  .product-images,
  .product-info {
    padding-right: 0;
  }
  .related-products,
  .reviews {
    padding: 10px;
    margin: 20px 8px;
    min-width: 92vw;
  }
  .product-grid {
    gap: 16px;
  }
}
@media (max-width: 700px) {
  .navbar {
    flex-direction: column;
    gap: 6px;
    padding: 12px;
  }
  .related-products,
  .reviews,
  .product-section {
    padding: 4px;
  }
  .product-card {
    width: 45vw;
    min-width: 120px;
  }
}
