/* Breadcrumb and Browse Section */
.browse-section-m {
    max-width: 1200px;
    margin: 10rem auto 0;
    padding: 0 2%;
    color: var(--light-grey-color);
}

.breadcrumb-m {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
}

.breadcrumb-m a {
    color: var(--dark-grey-color);
}

.breadcrumb-m a:hover {
    color: var(--white-color);
}

.product-count-sort-m {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--secondary-color);
}

.product-count-sort-m span {
    font-size: 1.4rem;
}

.sort-by-m {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sort-by-m select {
    padding: 0.5rem 1rem;
    background-color: var(--dark-color);
    color: var(--light-grey-color);
    border-radius: 0.5rem;
    border: 1px solid var(--secondary-color);
}

/* Shop Section */
.shop-m {
    display: flex;
    padding: 0 2% 5rem;

    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.sidebar-m {
    width: 20%;
    background-color: var(--dark-color);
    padding: 2rem;
    border-radius: 1rem;
}

.sidebar-m h3 {
    font-size: 2.2rem;
    color: var(--light-grey-color);
    margin-bottom: 1.5rem;
}

.sidebar-m ul {
    list-style: none;
}

.sidebar-m ul li {
    margin: 3rem 0;
}

.sidebar-m ul li a {
    color: var(--light-grey-color);
    font-size: 1.5rem;
}

.sidebar-m ul li a.active {
    color: var(--white-color);
    font-weight: bold;
}

.sidebar-m ul li a:hover {
    color: var(--white-color);
}

.category-description {
    color: var(--dark-grey-color);
    font-size: 1.3rem;
    margin-top: 0.5rem;
}

.shop-container-m {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.product-card-m {

    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
}

.product-card-m img {
    width: 100%;
    border-radius: 1rem;
}

.product-card-m h3 {
    margin: 1rem 0;
    font-size: 2rem;
    color: var(--dark-grey-color);

}

.product-card-m .price-m {
    color: var(--dark-grey-color);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.product-card-m .add-to-cart-m {
    background-color: transparent;
    border: 2px solid var(--light-grey-color);
    color: var(--light-grey-color);
    padding: 1rem 2rem;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 0.5rem;
    width: 100%;
}

.product-card-m .add-to-cart-m:hover {
    background-color: var(--light-grey-color);
    color: var(--dark-color);
}

/* Footer Styles */
.footer-m {
    background-color: var(--dark-color);
    color: var(--white-color);
    text-align: center;
    padding: 1rem 0;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .shop-m {
        flex-direction: column;
    }

    .sidebar-m {
        width: 100%;
        margin-bottom: 2rem;
    }

    .shop-container-m {
        width: 100%;
        grid-template-columns: 1fr;
    }
}